<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Access Control App</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/a2d9d5f9c1.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="main-header">
    <div class="logo-title">
      <i class="fa-solid fa-shield-halved fa-xl"></i>
     
    </div>
    <nav>
      <h1 class="lab-title"> Lab: URL-based access control can be circumvented</h1>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
   
  </header>



  