<%- include("partials/header") %>

<div class="container">
  <h2><i class="fa-solid fa-lock"></i> Admin Panel</h2>
  <p> Only accessible internally or via <code>X-Original-URL</code> header.</p>

  <h3> Users</h3>

  <div class="user-list">
    <div class="user-entry">
      <span><i class="fa-solid fa-user"></i> zaid</span>
      <a href="/admin/delete?username=zaid" class="danger"><i class="fa-solid fa-user-xmark"></i> Delete</a>
    </div>

    <div class="user-entry">
      <span><i class="fa-solid fa-user"></i> aymen</span>
      <a href="/admin/delete?username=aymen" class="danger"><i class="fa-solid fa-user-xmark"></i> Delete</a>
    </div>
  </div>

  <hr />

  
</div>







