<%- include("partials/header") %>

<div class="container">
  <h2><i class="fa-solid fa-ban"></i> Access Denied</h2>
  <p>Sorry, external access to this page is blocked. </p>

  <div class="links">
    <a href="/"><i class="fa-solid fa-house"></i> Back to Home</a>
  </div>
</div>



