<%- include("partials/header") %>

<div class="container">
  <h2><i class="fa-solid fa-check"></i> User Deleted</h2>
  <p>User <strong><%= deletedUser %></strong> has been successfully deleted.</p>

  <div class="links">
    <a href="/admin"><i class="fa-solid fa-arrow-left"></i> Back to Admin Panel</a>
  </div>
</div>




