<%- include("partials/header") %>

<div class="container home">
  <h2>Welcome to the homepage!</h2>
  <p>This page is accessible to all users.</p>
  <div class="links">
    <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
    <a href="/register"><i class="fa-solid fa-user-plus"></i> Register</a>
  </div>
</div>





